JWT_SECRET_KEY=your_jwt_secret_key

DATABASE_URL=postgresql://user:password@localhost:5432/dbname
DATABASE_URL_PROD=postgresql://user:password@host/dbname?sslmode=require

PORT=5050
PORT_FRONT=3001

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
PORT_SERVER=1000
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_smtp_password
